:root {
  --main-dark-color: #17191c;
  --footer-color: #1c1d21;
  --white-color: #ffffff;
  --theme-color: #f20000;
  --ghost-color: #666666;
  --main-gray-color: #232323;
  --theme-hover-color: #c20000;
  --footer-icon-color: #d9d9d9;
}
